@font-face {
    font-family: ExoThin;
    src: url("../fonts/Exo2.0-Thin.otf");
}

body {
    background-image: url(../images/Pattern.png);
}

.header {
    width: 480px;
    margin: auto;
    color: #ffffff;
    text-align: center;
    font-size: 100%;
    font-family: ExoThin;
    font-weight: normal;

    /*border: 1px solid red;*/
}

.block {
    width: 1120px;
    margin: auto;
}

.display {
    /*border: 1px solid red;*/
}

.item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 320px;

    /*border: 1px solid red;*/
}

.item-box {
    position: absolute;
    z-index: 2;
    width: 320px;
    height: 480px;
    background-image: url("../images/Photo-default.png");
}

span.item-box:hover {

    background-image: url("../images/Photo-default-hover.png");
}

input.select:checked ~ span {
    background-image: url("../images/Photo-selected.png");
}

input.select:checked ~ span:hover {
    background-image: url("../images/Photo-selected-hover.png");
}

input.select:disabled ~ span {
    background-image: url("../images/Photo-disabled.png");
}

.item-text{
    position: absolute;
    z-index: 2;
    height: 480px;
    width: 205px;
    margin-left: 47px;
    text-align: left;
}

.tag {
    margin-top: 20px;
    font-family: "Trebuchet MS";
    color: rgb(102, 102, 102);
    font-size: 16px;
}

.title {
    margin-top: 10px;
    font-family: "Trebuchet MS";
    font-size: 48px;
    font-weight: bold;
    color: #000000;
}

.flavour {
    font-family: "Trebuchet MS Bold";
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.contents {
    margin-top: 10px;
    font-size: 14px;
    color: #666666;
}

.photo {
    position: absolute;
    bottom: 0px;
    border-radius: 3%;
    z-index: 2;
}

.circle {
    position: absolute;
    top: 390px;
    right: 18px;
    z-index: 3;
    width: 75px;
    height: 75px;
    float: right;
    text-align: center;
    color: #ffffff;
}

.pack-weight {
    margin-top: 5px;
    font-size: 40px;
    font-family: "Trebuchet MS";
}

.pack-units {
    font-size: 16px;
    font-family: "Trebuchet MS";
}

.item1 {
    float: left;
    margin-right: 76px;
}

.item2 {
}

.item3 {
    float: right;
    margin-left: 76px;
}

.description {
    position: relative;
    top: 480px;
    color: #ffffff;
    text-align: center;
}

.link {
    border-bottom: 2px dashed #1698d9;
    color: #1698d9;
}